<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364712309724-5uoqmn9thc7lef5e6lhlru0poo02ecq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364712309724-5uoqmn9thc7lef5e6lhlru0poo02ecq9</string>
	<key>API_KEY</key>
	<string>AIzaSyD-r1qsWESd7tOJ3cSo3VUGdKCKp8g9dgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>364712309724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simeonivanov.FirebaseDemoApp</string>
	<key>PROJECT_ID</key>
	<string>fir-appdemo-296bc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-appdemo-296bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364712309724:ios:30c2a6973b6e1b0cd15519</string>
</dict>
</plist>